<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>921877400056-fi4ia8s6jpcl39abeu595pagce2p52mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921877400056-fi4ia8s6jpcl39abeu595pagce2p52mn</string>
	<key>API_KEY</key>
	<string>AIzaSyAdiri3vv8rgWB5yK7IwOs8_tp4DN3SfDM</string>
	<key>GCM_SENDER_ID</key>
	<string>921877400056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.locobee.app</string>
	<key>PROJECT_ID</key>
	<string>locobee-a57c8</string>
	<key>STORAGE_BUCKET</key>
	<string>locobee-a57c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:921877400056:ios:b2db682a75cc6206</string>
	<key>DATABASE_URL</key>
	<string>https://locobee-a57c8.firebaseio.com</string>
</dict>
</plist>